@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Montserrat Regular","Verdana",sans-serif;
}
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
.button-nav ul button {
  color: #dee0e2 ;
}
.button-nav ul li a:active{
  color: #0e7490;
}
/* .scrollbar-hide::-webkit-scrollbar{
  display: none;
}
.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
.dropbtn {
  color: white;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #14181d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 40px;
  transition: all .5s ease;
}
.dropdown-content a {
  color: #fff;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #0e7490;}