@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat Regular", "Verdana", sans-serif;
}



html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #202040;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}



.button-nav ul button {
  color: #dee0e2;
}

.button-nav ul li a:active {
  color: #0e7490;
}

.project::-webkit-scrollbar {
  width: 1px;
}

.project::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}

.project::-webkit-scrollbar-thumb {
  background: transparent;
}

.dropbtn {
  color: white;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #14181d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
  transition: all .5s ease;
}

.dropdown-content a {
  color: #fff;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #0e7490;
}

.szh-accordion__item-panel {
  background-color: #ccc;
  color: #0c0c1d;
  padding: 10px 12px;
}

.chev-svg {
  filter: contrast(0%) brightness(2);

}

.szh-accordion__item-btn {
  background-color: #0f172a;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #fff;
  padding: 10px 12px;

}

.szh-accordion__item-btn:nth-child(1) {
  border-radius: 8px 8px 0 0;
}

.btn-black {
  padding: 10px 40px;
  margin-right: 10px;
  background-color: #fff;
  color: #0f172a;
  border-radius: 12px;
  border: 1px solid #fff;
}

.btn-black:hover {
  padding: 10px 40px;
  margin-right: 10px;
  color: #fff;
  background-color: #0f172a;
  border-radius: 12px;
  border: 1px solid #fff;
}

.btn-white {
  padding: 10px 40px;
  margin-right: 10px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 12px;
}

.btn-white:hover {
  padding: 10px 40px;
  margin-right: 10px;
  background-color: #fff;
  color: #0f172a;
  border-radius: 12px;
  border: 1px solid #fff;
}

.right-project {
  box-shadow: 2px 0px 15px 4px rgb(151 149 149 / 70%);
}

.react-tabs__tab--selected {
  background-color: transparent !important;
  color: #fff !important;

}

.react-tabs__tab .react-tabs__tab--selected {
  border-bottom: 2px solid #5b53ff !important;
}

.react-tabs__tab {
  border: 2px solid transparent !important;
  margin: 0 20px;
  bottom: 0 !important;
}
.react-tabs__tab:hover {
  border-bottom: 2px solid #5b53ff !important;
  bottom: -1px !important;
}

.react-tabs__tab:focus {
  background-color: transparent;
  color: #fff;

}

.react-tabs__tab:focus:after {
  background-color: #5b53ff !important;
  height: 2px !important;
  bottom: 0px !important;
}

/* .react-tabs__tab:active {
  background-color: transparent;
  color: #fff;
  border-bottom: 2px solid #5b53ff !important;
} */

.react-tabs__tab-panel--selected {
  animation: fadeInRight 1s ease-in-out;
  background-color: transparent;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
  height: 500px;

}

.react-tabs__tab-list {
  border: 2px solid transparent !important;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
  }
}